/*
style sheet test by bycho at 2023.12.30
*/

/* Tag 선택자
*/
h1 {
    color: rgb(71, 20, 120);
    font-size: 28px;
}

h2 {
    color: rgb(23, 80, 61);
}

h3 {
    color: black;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

li {
    color: green;
}

/* id 선택자
*/
#ulstyle {
    font-style: italic;
}

/* class 선택자
*/
.red {
    color: red;
}

.contents {
    color: rgb(40, 85, 87);
}